*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.logo,
h1,
h2,
h3,
h4,
h5,
h6,
nav a {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.span,
p,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1320px;

}

.HeaderTop a{
    color: white;
    text-decoration: none;
}
.HeaderTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(137, 151, 255);
    color: white;
    padding-left: 102px;
    padding-right: 102px;
}
.cust{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flag{
    width: 28px;
    height: 22px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 2px;

}

.countrySelector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    position: relative;
}

.countrySelector ul{
    list-style: none;
    position: absolute;
    top: 20px;
    right: -40px;

}

.countries,
.stateList,
.langList {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgb(78, 77, 77);

}

.countries a{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

}
.countries li {
    border: .5px solid rgb(187, 185, 185);
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    padding: 6px;
    width: 12rem;
    display: none;


}
.countries li:hover{
    background-color: white;
    font-weight: bolder;
}
.countrySelector:hover{
    cursor: pointer;
    .countries li{
        display: block;
    }
}
.headerMain input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 6px;
    width: 450px;
    background-color: white;

}


.headerMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 72px;
    background-color: rgb(197, 250, 250);

}
.logo{
    font-size: 32px;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(37, 119, 119);
}
.logo:hover{
    color: rgb(11, 26, 1);
    font-size: 33px;
}
nav{
    width: 400px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: larger;

}
nav a:hover{
    color: blue;
    
}
.wish{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.cart{
    border: 1px solid gray;
    border-radius: 10px;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 10px;
}
.cart:hover{
    color: blue;
}

.catIcon{
    width: 64px;
}

.state{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.location,
.language {
    display: flex;
    gap: 6px;
    position: relative;


}
.stateList,
.langList {
    position: absolute;
    top: 20px;
    right: -40px;
    display: none;
}
.location:hover{
    .stateList{
        display: block;
    }

}
.language:hover{
    .langList{
        display: block;
    }
}


.stateList p,
.langList p {
    border: .5px solid rgb(187, 185, 185);
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    padding: 6px;
    width: 12rem;

}
.location p:hover{
    color: rgb(27, 6, 223);
    background-color: white;
    font-weight: bolder;
    cursor: pointer;

}
.language p:hover {
    color: rgb(27, 6, 223);
    background-color: white;
    font-weight: bolder;
    cursor: pointer;
    .countries li{
        display: block;
    }

}

.catagory ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    list-style: none;

}
.catagory a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 8rem;

}
.catagory a:hover{
    border: 1px solid gray;
    border-radius: 6px;
    font-weight: bolder;
}

.catagory{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    height: 9rem;

}

.adds{
    margin-top: 32px;
}
.frsh{
    background-image: url('https://images.mid-day.com/images/images/2023/mar/Frozon-Foods1_d.jpg');
    width: 1200px;
    height: 600px;
}
.veggi{
    background-image: url('https://media.self.com/photos/5d02415e5ff5616ca994b3c8/master/pass/frozen-food.jpg');
    width: 1200px;
    height: 800px;

}
.meat{
    background-image: url('https://www.hippressurecooking.com/wp-content/uploads/2016/01/frozen_meat_a_slider.jpg');
    width: 1200px;
    height: 600px;
 
}